{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <header>
        <nav class="menu">
            <ul>
                <li><a class="order-btn" href="#">Заказать</a></li>
                <li><a class="menu__anchor-link" href="#costs">Стоимость</a></li>
                <li><a class="menu__anchor-link" href="#examples">Примеры</a></li>
                <li><a class="menu__anchor-link" href="#info">Что это?</a></li>
                <li><a class="menu__anchor-link" href="#contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <section id="main" class="pane">
            <div class="container">
                {#<div style="min-width:260px; width: 30%; height: 350px; background-color: #1a1a1a;display: inline-block;margin-right: 20px"></div>#}
                <div class="example-info">
                    <h2>Виртуальное Приморье</h2>
                    Виртуальные экскурсии по помещениям компании прямо в браузере или смартфоне.
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </section>
        <section id="examples">
            <div class="container">
                <div class="title-wrapper">
                    <div class="title">
                        <span class="title-main">Наши работы</span>
                    </div>
                </div>
                <div class="carousel" style="min-width: 320px;">
                    <div class="carousel__left-btn"></div>
                    <div class="carousel__wrapper">
                        <ul>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880130170!6m8!1m7!1sF%3A-CAAy---BxuI%2FWDKwyNFh6PI%2FAAAAAAAAACo%2F4-Fa89geFEopUuq9bwan33Jgl-iP_cLzwCLIB!2m2!1d43.09418116306045!2d131.9120113179088!3f270.2012848214422!4f-49.58647924977298!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/1.jpg') }}" alt="panorama_1">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880130170!6m8!1m7!1sF%3A-CAAy---BxuI%2FWDKwyNFh6PI%2FAAAAAAAAACo%2F4-Fa89geFEopUuq9bwan33Jgl-iP_cLzwCLIB!2m2!1d43.09418116306045!2d131.9120113179088!3f270.2012848214422!4f-49.58647924977298!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880104062!6m8!1m7!1sF%3A-vSxxmg0tfRg%2FWDKwyIOfoEI%2FAAAAAAAAADA%2FC5AW6tLf30QD_UxAJLIYZMWtLTN2MlQMACLIB!2m2!1d43.09413586963353!2d131.9120042771101!3f343.0561775759544!4f-7.399733275359438!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/2.jpg') }}" alt="panorama_2">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880104062!6m8!1m7!1sF%3A-vSxxmg0tfRg%2FWDKwyIOfoEI%2FAAAAAAAAADA%2FC5AW6tLf30QD_UxAJLIYZMWtLTN2MlQMACLIB!2m2!1d43.09413586963353!2d131.9120042771101!3f343.0561775759544!4f-7.399733275359438!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880063792!6m8!1m7!1sF%3A-rbRIGbY9X3g%2FWDKwyIzGz3I%2FAAAAAAAAACY%2FdpJ83VHPgzQAtNHgZ0ZNE8aLDJRjRtotACLIB!2m2!1d43.09421494948685!2d131.9118862599134!3f140.29840731487263!4f-13.633477644352865!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/3.jpg') }}" alt="panorama_3">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880063792!6m8!1m7!1sF%3A-rbRIGbY9X3g%2FWDKwyIzGz3I%2FAAAAAAAAACY%2FdpJ83VHPgzQAtNHgZ0ZNE8aLDJRjRtotACLIB!2m2!1d43.09421494948685!2d131.9118862599134!3f140.29840731487263!4f-13.633477644352865!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483879953574!6m8!1m7!1sF%3A-l_7GRy_igs8%2FWDKwyD24MlI%2FAAAAAAAAACI%2FjESnUp79OG8PmrrZlBfw_z__PrFf45VCgCLIB!2m2!1d43.09400904785988!2d131.9120337814093!3f213.39213000381687!4f-13.938567534849483!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/4.jpg') }}" alt="panorama_4">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483879953574!6m8!1m7!1sF%3A-l_7GRy_igs8%2FWDKwyD24MlI%2FAAAAAAAAACI%2FjESnUp79OG8PmrrZlBfw_z__PrFf45VCgCLIB!2m2!1d43.09400904785988!2d131.9120337814093!3f213.39213000381687!4f-13.938567534849483!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880159835!6m8!1m7!1sF%3A-gbcNK23nZLM%2FWFkcjg8gkrI%2FAAAAAAAAAJs%2FLbwaHF3GQfw9D-vCNVMONVc9WX8P2gRdwCLIB!2m2!1d43.27019079999999!2d132.2585024!3f0.1459015887026275!4f-10.927936919776457!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/5.jpg') }}" alt="panorama_5">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880159835!6m8!1m7!1sF%3A-gbcNK23nZLM%2FWFkcjg8gkrI%2FAAAAAAAAAJs%2FLbwaHF3GQfw9D-vCNVMONVc9WX8P2gRdwCLIB!2m2!1d43.27019079999999!2d132.2585024!3f0.1459015887026275!4f-10.927936919776457!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880324704!6m8!1m7!1sF%3A-dBB0J566r5c%2FWE6-RG8SFtI%2FAAAAAAAAEDY%2F7WVsUiArwBIar70q4wXon56JkB1-hULYQCLIB!2m2!1d43.27017687868175!2d132.2586282230198!3f282.95517175475334!4f-0.3168947353942144!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/6.jpg') }}" alt="panorama_6">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880324704!6m8!1m7!1sF%3A-dBB0J566r5c%2FWE6-RG8SFtI%2FAAAAAAAAEDY%2F7WVsUiArwBIar70q4wXon56JkB1-hULYQCLIB!2m2!1d43.27017687868175!2d132.2586282230198!3f282.95517175475334!4f-0.3168947353942144!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="carousel__element">
                                    <a href="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880212894!6m8!1m7!1sF%3A-uDFIQqnDFwo%2FWFkhDP8N4wI%2FAAAAAAAAAI4%2FHELHS8FjRqcVY_LD36a73to8HsAEIdOXgCLIB!2m2!1d43.27012880590058!2d132.258485996555!3f159.59249388815732!4f-13.183555891750686!5f0.7820865974627469">
                                        <div class="carousel__element-image">
                                            <img src="{{ asset('i/panorams/7.jpg') }}" alt="panorama_7">
                                        </div>
                                        <div class="carousel__element-description">
                                            {#<iframe src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sru!2sru!4v1483880212894!6m8!1m7!1sF%3A-uDFIQqnDFwo%2FWFkhDP8N4wI%2FAAAAAAAAAI4%2FHELHS8FjRqcVY_LD36a73to8HsAEIdOXgCLIB!2m2!1d43.27012880590058!2d132.258485996555!3f159.59249388815732!4f-13.183555891750686!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="carousel__right-btn"></div>
                </div>
            </div>
        </section>
        <section id="info" class="pane">
            <div class="container">
                <div class="title-wrapper">
                    <div class="title">
                        <span class="title-main">Что такое виртуальный тур?</span>
                    </div>
                </div>
                <div class="info-block">
                    <img style="
                            border-radius: 20px;
    border: 1px solid #ccc;"
                         src="{{ asset('i/plan.jpg') }}" />
                </div>
                <div class="info-block-2">
                    Виртуальный тур - это круговые 360° интерактивные панорамы помещений с возможностью перехода между ними. Это потрясающие виртуальные экскурсии по помещениям компании прямо в браузере или смартфоне. <br /> <br />
                    3D-тур начинается за несколько метров до входа в заведение с улицы, либо в дверном проёме, если у компании нет отдельного входа. Вы сможете заранее спланировать маршрут перемещений, выгодно выделяя особенности помещения и не привлекая внимания к служебным и рабочим зонам. <br /> <br />
                    Важная особенность 3Д-туров - возможность объединять в одном туре несколько этажей здания с логичной интуитивной навигацией между ними, как по лестницам и лифтам, так и кнопками выбора этажа. <br />
                </div>
            </div>
        </section>
        <section id="costs" class="pane">
            <div class="container">
                <div class="title-wrapper">
                    <div class="title">
                        <span class="title-main">Начните свой тур-проект с нами</span>
                        <span class="title-sub">профессиональный подход на всех этапах работы, гарантия высокого качества.</span>
                    </div>
                </div>
                <ul>
                    <li>
                        <div class="cost-container cost-red">
                            <div class="cost-per-dot em-low">
                                <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">900</span>
                            </div>
                            <div class="per">за точку</div>
                            <div class="description">
                                <h3>Light</h3>
                                <span class="main">
                                    Съёмка от 1 до 3 панорам (точек)
                                </span>
                                <span class="additional">
                                    Размещение организации на картах Google
                                </span>
                                <span class="additional">
                                    Бесплатная установка на Ваш сайт
                                </span>
                                <div style="height: 27px">
                                </div>
                            </div>
                            <a class="button_link red order-button-link order-btn" href="#">Заказать</a>
                        </div>
                    </li>
                    <li>
                        <div class="cost-container cost-blue">
                            <div class="cost-per-dot em-low">
                                <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">700</span>
                            </div>
                            <div class="per">за точку</div>
                            <div class="description">
                                <h3>Medium</h3>
                                <span class="main">
                                    Съёмка от 4 до 8 панорам (точек)
                                </span>
                                <span class="additional">
                                    Размещение организации на картах Google
                                </span>
                                <span class="additional">
                                    Бесплатная установка на Ваш сайт
                                </span>
                                <div style="height: 27px">
                                </div>
                            </div>
                            <a class="button_link blue order-button-link order-btn" href="#">Заказать</a>
                        </div>
                    </li>
                    <li>
                        <div class="cost-container cost-orange">
                            <div class="cost-per-dot em-low">
                                <span class="rub">Р</span><span class="rub-part">-</span> <span class="price em-low">500</span>
                            </div>
                            <div class="per">за точку</div>
                            <div class="description">
                                <h3>XXXL</h3>
                                <span class="main">
                                    Съёмка от 9 панорам (точек)
                                </span>
                                <span class="additional">
                                    Размещение организации на картах Google
                                </span>
                                <span class="additional">
                                    Бесплатная установка на Ваш сайт
                                </span>
                            </div>
                            <a class="button_link order-button-link order-btn" href="#">Заказать</a>
                        </div>
                    </li>
                    <li class="helper"></li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="contacts">
        <div class="container">
            <div class="contacts">
                тел.: +7 994 010-16-27 <br />
                тел.: +7 902 489-71-17 <br />
                e-mail: primorye3d@gmail.com
            </div>
            <div>
                Приморье 3D - сертифицированные фотографы <a class="link" href="http://google.ru">Google</a>
            </div>
        </div>
    </footer>
    {% include '@App/default/disable-screen.html.twig' %}
    {% include 'AppBundle::default/order.html.twig' %}
    {% include '@App/default/panoram-iframe.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dest/main.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('main').initMainPage();
        });
    </script>
    {{ parent() }}
{% endblock %}
